body {
  background-color: #333333;

}
.content{
  background-color: #FFFFF6;
  border-style: dotted;
  border-width: thick;
  padding: 5px;
  margin: 5px;
}
.script{
  background-color: #FFFFF6;
  border-style: double;
  border-width: thick;
  padding: 5px;
  margin: 5px;
}
.sourcelink{
  color: #FFFFF6;
  float: right;
}

p{
  font-family: fantasy;
  font-size: 20px;
}

h1, h2, h3 {
    font-family: monospace;
}


img{
  position:  sticky;
  float: right;
}
