body {
  background-color: #034C3C;

}
img{
  float: right;

}

#content{
  background-color: #A6A15E;
  border-style: dotted;
  border-width: thick;
  padding: 5px;
  margin: 5px;
  color: green;
}

.sourcelink{
  color: #C69F89;
  float: right;

}

#challenge-button {
  background-color: none;
  color:green;
}
#Problems-button {
  background-color: none;
  color:green;
}
#Results-button {
  background-color: none;
  color:green;
}
.green-text{
  color:green;
}
.red-text{
  color:red;
  }
